
.button {
  min-height: 38px;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #000;
  text-shadow: none;
  outline-style: none;
  border-radius: 25px;
  border-width: 0;
  box-shadow: none;
  padding: 2px 20px;
  margin: 0;
}

.button-f90 {
  background-color: #f90;
  background: #f90;
}

.button-c9c {
  background-color: #c9c;
  background: #c9c;
}

.button-99c {
  background-color: #99c;
  background: #99c;
}

.button-c66 {
  background-color: #c66;
  background: #c66;
}

.button-fc9 {
  background-color: #fc9;
  background: #fc9;
}

.button-99f {
  background-color: #99f;
  background: #99f;
}

.button-f96 {
  background-color: #f96;
  background: #f96;
}

.button-c69 {
  background-color: #c69;
  background: #c69;
}

.window {
  background-color: #000;
}

.category {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #f90;
}
.line-end {
  min-width: 20px;
  background-color: #99F;
  background: #99F; /* for Ubuntu */
  outline-style: none;
  border-width: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
}
.line-end--left {
  border-radius: 20px 0 0 20px;
}
.line-end--right {
  border-radius: 0 20px 20px 0;
}
