Source: lcarsde
Maintainer: Andreas Tennert <lcarsde@andreas-tennert.de>
Section: x11
Priority: optional
Standards-Version: 4.5.0
Build-Depends: default-jdk-headless | default-jdk, debhelper (>= 9), devscripts, fakeroot, libx11-dev, libgtk-3-dev, libxrandr-dev, libpango1.0-dev, libcairo2-dev, libicu-dev, libxml2-dev, libtinfo6, libpulse-dev

Package: lcarsde
Architecture: any
Depends: libx11-6, libxrandr2, libgtk-3-0, libpango-1.0-0, libpangoxft-1.0-0, libcairo2, libxml2, libpulse0, dex
Recommends: fonts-ubuntu, alsa-utils
Suggests: x-display-manager, kdm | gdm, xterm, firefox
Provides: x-window-manager
Description: A simple desktop environment that looks somewhat like a LCARS interface
 https://lcarsde.github.io
